<form [formGroup]="bdForm" (ngSubmit)="onSubmit(bdForm)">
  <div class="form-fields">
    <app-input
      [control]="bdForm.controls['day']"
      name="day"
      placeholder="DD"
    ></app-input>
    <app-input
      [control]="bdForm.controls['month']"
      name="month"
      placeholder="MM"
    ></app-input>
    <app-input
      [control]="bdForm.controls['year']"
      name="year"
      placeholder="YYYY"
    ></app-input>
  </div>
  <div class="separator">
    <button type="submit"><img src="../../../assets/icon-arrow.svg" alt="" srcset=""></button>
  </div>
</form>
