.form-fields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.separator {
  height: 2px;
  width: 100%;
  position: relative;
  background-color: var(--color-neutral-lighter);
  margin-block: 4rem;
}

button {
  height: 4rem;
  width: 4rem;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 2rem);
  left: calc(50% - 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-dark);
  cursor: pointer;
  outline: none;
}

button:hover,
button:focus,
button:active {
  background-color: var(--color-neutral-darkest);
}

button > img {
  height: 1.75rem;
}

p {
  margin-top: 5px;
  font-size: 10px;
  font-weight: 400;
  font-style: italic;
  color: var(--color-primary-light);
}

.invalid > label {
  color: var(--color-primary-light);
}

.invalid > input {
  border-color: var(--color-primary-light);
}

@media (min-width: 835px) {
  .form-fields {
    grid-template-columns: repeat(2, minmax(min-content, 150px)) 1fr;
    gap: 1.5rem;
    align-items: start;
  }

  .separator {
    margin-block: 2.5rem 3rem;
  }

  button {
    height: 6rem;
    width: 6rem;
    top: calc(50% - 3rem);
    left: auto;
    right: 0;
  }

  button > img {
    height: 2.75rem;
  }
}
