<form [formGroup]="bdForm" (ngSubmit)="onSubmit(bdForm)">
  <div class="form-fields">
    <app-input
      *ngFor="
        let input
        of [
          ['day', 'DD'],
          ['month', 'MM'],
          ['year', 'YYYY']
        ]
      "
      [control]="bdForm.controls[input[0]]"
      [name]="input[0]"
      [placeholder]="input[1]"
      [formWideError]="
        bdForm.controls['day'].touched &&
        bdForm.controls['month'].touched &&
        bdForm.controls['year'].touched &&
        (bdForm.errors?.['invalidDate'] || bdForm.errors?.['futureDate'])
      "
    ></app-input>
  </div>
  <div
    *ngIf="
      bdForm.controls['day'].touched &&
      bdForm.controls['month'].touched &&
      bdForm.controls['year'].touched
    "
  >
    <p *ngIf="bdForm.errors?.['invalidDate']">Must be a valid date</p>
    <p *ngIf="bdForm.errors?.['futureDate']">Must be in the past</p>
  </div>
  <div class="separator">
    <button type="submit">
      <img src="../../../assets/icon-arrow.svg" alt="" srcset="" />
    </button>
  </div>
</form>
